.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
    align-self: center;
    border-radius: 140px;
    min-width: 45vw;

}
.authContainerHeader{
    font-size: 32px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid #4B4B4B;
    min-width: 80%;
}

.authInputHeader{
    font-size: 20px;
    margin-top: 2vh;
    flex: 1;
}

.authInput{
    padding-top: 2vh;
}

.authFooter{
    font-size: 20px;
    padding-top: 6vh;
    padding-bottom: 8vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

.authForm{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.authFormInput{
    font-size: 20px;
    margin-top: 2vh;
    min-width: 50%;
    border-radius: 25px;
    padding-left: 5px;
}

.authSubmitButton{
    font-size: 24px;
    margin-top: 6vh;
    background-color: #C83737;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 6vh;
    padding-right: 6vh;
    color: #D2D2D2;
    border: 0px;
    border-radius: 60px;
}

.authErrorMsg{
    margin-top: 1vw;
    padding: 1vw;
    background-color: rgba(255,0,0,0.2);
    border-radius: 25px;
}