.title{
    font-weight: 100;
}

.container{
    width: 99%;
}

.newWorkout{
    
    position: relative;
    //border: 1px solid blue;
    width: 100%;
    min-height: 3.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vw;
}

.newWorkout input{
    
    width: 35%;
    border-radius: 25px;
    border: 1px solid #4B4B4B;
    background-color: transparent;
    margin-left: calc(-15%);
    padding-left: 1%;
    color: whitesmoke;
    outline: none;
    //font-size: 1.5vh; 
    font-weight: 100;
}

.newWorkout button{
    outline: none;
    position: flex-end;
    background-color: #C83737;
    border:none;
    margin-left: calc(-5%);
    border-radius: 25px;
    color: white;
    font-weight: 100;
    font-size: medium;
    padding: 10px 10px 10px 10px;
    letter-spacing: 3px;
    &:hover{
        cursor: pointer;
    }
}

.buttons{
    width: 50%;
}

%btn-styles{
    width: 15%;
    border: none;
    border-radius: 25px;
    margin-left: 3%;
    min-height: 2.5vh;
    color:white;
    outline: none;
    font-weight: 400;
    font-size: medium;
    height: 32px;
    letter-spacing: 3px;
    &:hover{
        cursor: pointer;
    }
    
}

#Show{

    background-color: #DC6E00;
    @extend %btn-styles;
}

#Edit{
    background-color: #C83737;
    @extend %btn-styles;
}

#Delete{
    background-color: #1E1E1E;
    @extend %btn-styles;
}


.list{
    padding-top: 15px;
    padding-bottom: 10px;
    list-style: none;
    height: 2vw;
    border-bottom: 1px solid #4B4B4B;
    margin-top: 0.7vw;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}



.workoutName{
    
    margin-left: 2vw;
    font-size: large;
    padding-top: 0.5vw;
    max-width: 25%;
}



