.addWorkoutContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    height: 100%;
   
}

.saveCancelNavBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 1vh;
    
    & input{
        background-color: transparent;
        color: #9B9B9B;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.288);
        border-radius: 25px;
        padding-left: 1vw;
        font-size: xx-large;
        margin-left: 5%;
    }

    & .buttonsContainer{
      padding: 0;
      margin: 0;
      width: 30%;
      & .button{
         width: 20%;
         height: 100%;
         border: none;
         border-radius: 25px;
         margin-left: 1vw;
         color: #FCFCFC;
         outline: none;
         font-size: larger;
         letter-spacing: 3px;
         
         &:hover{
             cursor: pointer;
             color: whitesmoke;
         }

      }

      & #Save{
        background-color: #C83737;
        @extend .button
      }

      & #Cancel{
          background-color: #1E1E1E;
          @extend .button
      }
    }
}


.editWorkoutContent{
    // border: 1px dashed royalblue;
    border-radius: 48px;
    background-color: #313131;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
    padding-top: 1.5vw;
    
    & .exerciseList{
        min-width: 60%;
        border-right: 2px solid #1E1E1E;
        & .exerciseContainer{
            max-width: 90%;
            margin-left: 5%;
            background-color: #373636;
            border-radius: 25px;
            margin-bottom: 1vh;
            padding-top: 1vh;
            padding-bottom: 1vh;
            display: flex;
            flex-direction: column;


            & li{
                align-self: flex-start;
                list-style: none;
                font-size: larger;
                color: whitesmoke;
                font-weight: 500;
                margin-left: 1vw;

                & label{
                    font-size: medium;
                    color: #9B9B9B;
                    font-weight: 400;
                }
            }            

            & button{
                color: #FCFCFC;
                align-self: flex-end;
                width: 10%;
                background-color: #1E1E1E;
                border: none;
                border-radius: 25px;
                margin-right: 1vw;
                min-height: 3vh;
                outline: none;
                letter-spacing: 2px;

                &:hover{
                    cursor: pointer;
                }
            }

            & text{
                margin-top: 1vw;
                font-size: smaller;
                color: #9B9B9B;
                font-weight: 400;
            }
        }
    }


    & .addExerciseSection{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 50%;
        
        
        & h2{
            margin: 0;
            padding: 0;
            padding-bottom: 1vh;
            font-size: x-large;
            text-align: left;
            margin-left: 5%;
        }

        & select{
            width: 70%;
            margin-left: 5%;
            height: 2.5vh;
        }


        & .exerciseRepsWeight{
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            margin-top: 3vh;

            & .repsWeight{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 90%;
                margin-left: 5%;
                margin-top: 1vh;
                margin-bottom: 1vh;
                font-size: larger;
                color: #9B9B9B;


                & input{
                    border-radius: 25px;
                    border:none;
                    outline: none;
                    text-align: center;
                    width: 15%;
                    margin-right: 22%;
                    background-color: #9B9B9B;
                    font-size: larger;
                    
                    &[type=number]::-webkit-outer-spin-button{
                        -webkit-appearance: none;
                    }

                    &[type=number]::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                    }
                }


            }

        }

        & button{
            align-self: center;
            margin-top: 3vh;
            margin-bottom: 2vh;
            border-radius: 25px;
            border:none;
            outline: none;
            min-height: 2.5vh;
            background-color: #C83737;
            color: #FCFCFC;
            font-size: larger;
            letter-spacing: 3px;
            padding: 10px 30px 10px 30px;
            
            &:hover{
                cursor: pointer;
                color: whitesmoke;
            }
        }
    }

}