@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.App {
  position: absolute;
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.backgroundWrap{
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/TrainingManagerBG-min.png');
  background-size: cover;
  z-index: -1;
}

.mainContent{
  padding-top: 15vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  color: #D2D2D2;
  align-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.loadingWrapper{
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.loadingSpinner{
  font-size: xx-large;
  justify-self: center;
  align-self: center;
  color: #D2D2D2;
}