.dashboardContainer{
    align-self: center;
    background-color: #292929;
    width: 80vw;
    min-height: 85vh;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboardHeader{
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid #4B4B4B;
    width: 80%;
    font-size: 32px;
}
.dashboardNav{
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #4B4B4B;
    width: 80%;
}

.dashboardLinksContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 0;
}

.dashboardLink{
    
    list-style: none;
    background-color: #C83737;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    min-width: 10vw;
}

.activeDashboardLink{
    background-color: #DC6E00;
    color: #1e1e1e;
}

.dashboardLinksContainer a{
    text-decoration: none;
    color: #FCFCFC;
}