.App-header {
    background-color: #1E1E1E;

    min-height: 10vh;
    max-height: 15vh;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    color: white;

    width: 100vw;
    position: fixed;
    z-index: 3;
}

.logoSVG{
    min-height: 10vh;
    max-height: 15vh;
    padding: 0;
    margin: 0;
  }
.App-header nav{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    padding: 2vw;

}
.App-header nav a{
    color: #D2D2D2;
    text-decoration: none;
    margin-left:3vw;
    margin-right: 3vw;
    font-size: calc(2px + 1.3vw);
    font-weight: 300;
}

.App-header nav a:hover{
    color: white;
}