.changePasswordContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

   

    & .buttonsContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;


        & input{
            outline: none;
            width: 25%;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border: 1px solid whitesmoke;
            border-right: none;
            background-color: white;
            text-align: center;
            min-height: 2vh;
            color:#1E1E1E; 
            font-size: large;
        }


        & button{
            background-color: whitesmoke;
            color: #9B9B9B;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
            border: 1px solid whitesmoke;
            border-left: none;
            min-height: 2vh;
            outline: none;
            
            &:hover{
                cursor: pointer;
            }
        }
    }

    & h2{
        font-size: x-large;
        font-weight: 300;
        
    }


    & .submit{
        margin-top: 4vh;
        align-self: center;
        border: none;
        background-color: #C83737;
        width: 15%;
        min-height: 6vh;
        border-radius: 40px;
        outline: none;
        font-size: large;
        color: whitesmoke;
        font-weight: 200;
        outline: none;

        &:hover{
            cursor: pointer;
        }
    }

    & .passwordWasChanged{
        margin-top: 3vh;
        text-align: center;
        align-self: center;
        background-color: rgba(0,255,0,0.5);
        width: 50%;
        font-size: x-large;
        border-radius: 25px;
    }

    & .wrongPassword{
        margin-top: 3vh;
        text-align: center;
        align-self: center;
        background-color: rgba(200,55,55,0.5);
        width: 50%;
        font-size: x-large;
        border-radius: 25px;
    }

    
}