.formWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    padding-top: 5vh;


    & button{
        margin-top: 4vh;
        align-self: center;
        border: none;
        background-color: #C83737;
        width: 40%;
        min-height: 5vh;
        border-radius: 40px;
        outline: none;
        font-size: large;
        color: whitesmoke;
        font-weight: 200;
        outline: none;

        &:hover{
            cursor: pointer;
        }   
    }

    & input{
        align-self: center;
        outline: none;
        width: 50%;
    }

    & label{
        font-size: 200%;
    }

}

.failedMsg{
    margin-top: 3vh;
    text-align: center;
    align-self: center;
    background-color: rgba(200,55,55,0.5);
    min-width: 30%;
    min-height: 5vh;
    font-size: x-large;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}