.landignPageContent{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 3vw;
}

.LandingHeading{
    padding-top: 3vw;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: rgb(200,55,55);
    font-size: 2vw;
    letter-spacing: 0.2vw;
    margin: 0;
}

.websiteDescription{
    flex: 1;
   max-width: 50%;
   padding-left: 3vw;
   padding-right: 3vw;
}

.websiteDescription p{
   
    
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: initial;
    
}

.websiteDescription .imgWrapper{
    padding-top: 3vh;
    height: 35vh;
    position: relative;
    overflow: hidden;
    flex:1;
    
}

.websiteDescription img{
    height: 100%;
    mix-blend-mode: luminosity;
    opacity: 0.35;
}

.framesContainer{
    /* border: 1px solid blue; */
    flex: 1;
    display: inline-flex;
    justify-content: space-around;
    padding-right: 2vw;
}

.landingPageFrame{
    /* border: 1px solid yellow; */
    margin-top: 5vw;
    background-color: #1e1e1e;
    border-radius: 40px;
    max-width: 18vw;
    padding: 1.5vw 1vw 2vw 1vw;
    height: 45vh;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.logoFrame1{
    color: rgb(200,55,55);
    font-size: 1.7vw;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.15vw;
    flex: 1;
}

.textFrame1{
    color: snow;
    font-size: 1vw;
    line-height: 2vw;
    text-align: center;
    font-weight: 300;
    flex: 1;
    min-height: 30%;
}

.buttonFrame1{
    background: rgb(200,55,55);
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 1vw 0 1vw 0;
    width: 50%;
    align-self: center;
    font-size: 1.3vw;
    color: white;
    cursor: pointer;
}

.buttonFrame1:active{
    color: #1e1e1e;
}


.landingPageSecondFrame{
    
    background-color: #1e1e1e;
    border-radius: 40px;
    max-width: 18vw;
    padding: 1.5vw 1vw 2vw 1vw;
    height: 45vh;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.logoFrame2{
    color: rgb(220,110,0);
    font-size: 1.7vw;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.15vw;
    flex: 1;
}

.textFrame2{

    color: snow;
    font-size: 1vw;
    line-height: 2vw;
    text-align: center;
    font-weight: 300;
    flex: 1;
    min-height: 30%;
}
.buttonFrame2{
    background: rgb(220,110,0);
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 1vw 0 1vw 0;
    width: 50%;
    align-self: center;
    font-size: 1.3vw;
    color: white;
    cursor: pointer;
}

.buttonFrame2:active{
    color: #1e1e1e;
}

.emphasis{
    font-weight: 500;
    text-decoration: underline;
    
}

.landingPageFrame a{
    cursor: default;
}

.landingPageSecondFrame a{
    cursor: default;
}
