.contactsWrapper{
    //border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 10vh;

    & .contactCard{
        //border: 1px dashed darkgoldenrod;
        flex: 1;
        max-width: 25%;
        background-color: #1E1E1E;
        border-radius: 40px;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 2vh;
        padding-top: 2vh;
        & p{
            display: flex;
            flex-direction: row;
            //border: 1px solid crimson;
            justify-content: space-between;
            padding-left: 10%;
            & .info{
                //border: 1px solid darkseagreen;
                flex: 1;
                text-align: start;
                max-width: 50%;
            }
            & a{
                color: #D2D2D2;
            }
        }

        & .contactName{
            font-size: 200%;
        }
    }

}