.summaryContainer{
    width: 99%;
    

    & h1{
        font-weight: 400;
    }
}



.summary{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 3px solid rgb(19,19,19);//rgb(43,43,43);
    
    & h2{
        align-self: start;
        font-weight: 400;
        margin-bottom: 0.5vw;
        margin-left: 2vw;
       }
}



.musclesWorkedOut{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 4vw;

    & p{
        margin: 0;
        margin-left:0.5vw;
        font-size: larger;
        
    }
}





.exerciseContainer{
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.exerciseContainer .exercise{
    align-self: center;
    width: 80%;
    height: 10vh;
    border-radius: 25px;
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    background-color: #373636;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .exerciseName{
        align-self: start;
        font-size: x-large;
        font-weight: 600;
        margin-left: 1vw;
        margin-bottom: 2vh;
    }

    & .repsWeightName{
        
        align-self: start;
        margin-left: 1vw;
        font-size: large;
        color: gray;
    }
}

